/*********** Variables ************/

:root{
    --fondo1:#400E0A;
    --color-texto1: #D58234;
    --fondo2:#D3D9D5;
    --color-texto2:#000000;
}

/********** main **********/
.contenedor{
    border: solid 2px rgb(0, 0, 0);
}
/********** Sección 1 *********/
.caja1 img{
    border-radius: 40% 40% 0% 0%;
    height:10 rem;
}
/********** Sección 2 *********/
.caja2{
    border: solid 3px rgb(42, 86, 46);

}
/********** Sección 3 *********/
.caja3{
    border: solid 3px rgb(181, 20, 146);

}
/********** Sección 4 *********/
.caja4{
    border: solid 3px rgb(102, 10, 155);
}
/**/