body{
    margin: 0;
    padding: 0;
}




/*********** Variables ************/

:root{
    --derecho:#79A47E;
    --foto2:#EC5D32;
}

/********** main **********/
.contenedor{
    border: solid 2px rgb(0, 0, 0);
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
/********** Lado-derecho *********/
.lado-derecho{
    background-color: #d38f4b;
    width: 60%;
}

.lado-izquierdo{
    background: url(foto-Photoroom.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
#pantalla-dividida{
    display: flex;

}

h1{
    width: 50%;
    margin: auto;
}